@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --white-color: #fff;
    --primary-color: #ff4b1f;
    --second-color: #ff9068;
    --black-color: #000;
    --black-1: #111;
    --black-2: #333;
    --black-3: #444;
    --black-4: #666;
    --black-5: #888;
    --black-6: #999;
    --black-7: #eaeaea;
    --black-8: #fafafa;
    --notice-color: #0070f3;
    --success-color: #22cc52;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Inter', sans-serif;
    color: var(--white-color);
}
p, a{
    font-size: 1rem;
}
input,
textarea{
    border: 1px solid var(--black-3);
    border-radius: 4px;
    height: 36px;
    width: 100%;
    margin-top: 4px;
    font-size: 1rem;
    padding: 8px;
}
textarea{
    height: auto;
}
address{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}
/* ============GENERAL STYLES ================ */
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1{
    font-size: 3rem;
}

section{
    margin-top: 8rem;
}
section > h2, section > h5{
    text-align: center;
}

/* =================MEDIA QUERIES============== */
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }
    section{
        margin-top: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }
    section > h2{
        margin-bottom: 2rem;
    }
    h1{
        font-size: 2.5rem;
    }
    p,a{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 360px) {
    p, a{
        font-size: 0.7rem;
    }
}